@{
    ViewBag.Title = "Contacto";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>

    <address>
        Arequipa, Majes, Pedregal<br />
        <abbr title="Phone">Telefono:</abbr>
        916995780
    </address>
</main>